body {
    color: gray;
    font-family: "Lucida Sans Unicode", "Lucida Grande", "Arial", sans-serif;
}

h1 {
    background-image: url(../img/sobre-background.jpg);
    color: black;
}

h2 {
    border-bottom: 1px solid black;
}

figure {
    background-color: gray;
    text-align: center;
    border: 2px solid black;
    color: black;
}

figcaption {
    font-style: italic;
}