*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
  background-color: whitesmoke;
}

body{
  font-family: 'Roboto', sans-serif;
}

.cabecalho{
  width: 100%;
  height: 25%;
  padding: 1.0rem;
  border-style: solid;
  border-width: 0.2rem;
  background-image: linear-gradient(45deg, #240046, #b29ef8)
}

.logo{
  width: 7.5rem;
  border-radius: 0.5rem 1rem;
  margin-left: 2rem;
}

.menu{
  position: absolute;
  right: 5%;
  top: 6.5%;
}

.item{
  display: inline;
  font-size: 1.5rem;
  width: 1rem;
  height: 1rem;
  padding: 0.5rem;
  margin: 1rem;
  border-radius: 1rem 1rem 1rem 1rem;
  border-style: double;
  font-style:oblique;
  font-weight: 700;
  background-color: #d90816;
}

a:link{
  color: whitesmoke;
}

a:visited{
  color: whitesmoke;
}

.principal{
  align-items: center;
  display: block;
  width: 60%;
  height: 80%;
  background-color: rgba(178,158,248,0.5);
  border-radius: 2rem;
  border-style: solid;
  position: absolute;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Open Sans', sans-serif;
}

#titulo{
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  padding: 0.8rem;
  margin-bottom: 0.8rem;
  border-radius: 2rem;
  font-style: oblique;
  color: #7a0014;
}

.infoPessoais{
  text-align: center;
  font-size: 1.5rem;
  font-weight: bolder;
  padding: 1rem;
  margin-top: 1rem;
  color: #7a0014;
}

.area{
 text-align: center;
 font-size: 1.5rem;
 font-weight: 500;
 padding: 1rem;
 margin-top: 1rem;
 font-weight: bolder;
 color: #7a0014;
}
.especializacao{
  display: flex;
  margin: 0.8rem;
  margin-top: 1rem;
  font-weight: bolder;
  align-items: center;
  margin-left: 30rem;
  font-size: 1.5rem;

}

.radio{
  width: 2rem;
  height: 2rem;
  margin-left: 3.5rem;
}

.textarea-submit{ 
 text-align: left;
 font-size: 1.5rem;
 font-weight: 500;
 padding: 0.5rem;
 text-align: center;
 margin-top: 1rem;
 font-weight: bolder;
}

.info{
  padding: 1rem;
  border: none;
  outline: none;
  font-size: 1.5rem;
  width: 50rem;
  border-radius: 2rem;
  margin-left: 2rem;
}

.button{
  background-color: #cc0022;
  border: none;
  padding: 1.5rem;
  text-align: center;
  margin-top: 2rem;
  border-radius: 2rem;
  width: 20rem;
  cursor: pointer;
  color: whitesmoke;
  font-size: 1.5rem;
}